<body>
    <app-selector-pagina [index]=4></app-selector-pagina>
    <div id="container_centrat">
        <p style="font-size: 50px; color:white;" class="primary-text">Termeni si conditii</p>
        <br><br><br><br><br>
        <p style="font-size: 22px; color:rgb(206, 206, 206);" class="primary-text"> 1. Subject to those terms, we grant you (the end user) a limited, revocable, non-exclusive, non-transmissible and non-sublicenseable license for an indefinite duration to access, reproduce in your device(s)'s memory, and use the website, solely for personal noncommercial use.</p>
        <p style="font-size: 22px; color:rgb(206, 206, 206);" class="primary-text"> 2. Unauthorized selling, redistributing, copying, modifying, decompiling or dissasemblying of this program is strictly prohibited.</p>
        <p style="font-size: 22px; color:rgb(206, 206, 206);" class="primary-text"> 3. The program is offered “as is” and “as available”, “with all faults” and without any implicit or explicit warranty. We are not liable for any personal injury, property damage, loss of data, device or operating system failure caused by or related to the usage of our apps.</p>
        <p style="font-size: 22px; color:rgb(206, 206, 206);" class="primary-text"> 4. We reserve the right to, at our sole discretion, modify this document at any time for any reason.</p>
    </div>
</body>