<div id = "container">
    <div class = "container-butoane">
        <button style="margin:5px;" class="buton-custom" mat-raised-button [color]="obtineCuloareHome()" (click)="home()">Home</button> 
        <button style="margin:5px;" class="buton-custom" mat-raised-button [color]="obtineCuloareFilme()" (click)="filme()">Filme</button>
        <button style="margin:5px;" class="buton-custom" mat-raised-button [color]="obtineCuloareContact()" (click)="contact()">Contact</button>  
        <button style="margin:5px;" class="buton-custom" mat-raised-button [color]="obtineCuloareAbout()" (click)="legal()">Legal</button> 
    </div>
</div>