<button (click)="review(1)" class="icon-button" mat-button>
    <mat-icon class="icon" [color]="obtineCuloare(1)">star</mat-icon>
</button>
<button (click)="review(2)" class="icon-button" mat-button>
    <mat-icon class="icon" [color]="obtineCuloare(2)">star</mat-icon>
</button>
<button (click)="review(3)" class="icon-button" mat-button>
    <mat-icon class="icon" [color]="obtineCuloare(3)">star</mat-icon>
</button>
<button (click)="review(4)" class="icon-button" mat-button>
    <mat-icon class="icon" [color]="obtineCuloare(4)">star</mat-icon>
</button>
<button (click)="review(5)" class="icon-button" mat-button>
    <mat-icon class="icon" [color]="obtineCuloare(5)">star</mat-icon>
</button>